<%- include("partials/" + headerName); %>
<h2 class="post-title">Home</h2>
<p class="post-content">Welcome to MiJin's Blog!!!&#128588</p>

<% posts.forEach(function(post) { %>
  <div class="post">
    <h3><%= post.title %></h3>
    <p class="post-content">
      <%= (post.content).slice(0, 100) %> ...
      <a href="/posts/<%=post._id%>">Read More</a>
    </p>
  </div>
<% }) %> 

<%- include("partials/footer"); %>
